# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.log
*.sqlite3
db.sqlite3

# =========================
# Django static & media
# =========================
staticfiles/
media/
static/
hotel_project/static/

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Gunicorn / Render
# =========================
gunicorn.pid

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs
